doctype html
html(lang='en')
  // Set this to the main language of your site
  head
    meta(charset='utf-8')
    title POLO365 - Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet")
    link(href='assets/css/style.css', rel='stylesheet')
    
  body
    .wrapper

      header
        img(src="./img/test.png")
        .text
          h1.head-text POLO<span>3</span><span>6</span><span>0</span>
          h4 My kind of business blog
        
        nav.navigation
          ul
            li
              a(href="#") Home 
                p Back to home
            li
              a(href="#") Products
                p What we have for you
            li
              a(href="#") Services
                p Things we do for you
            li
              a(href="#") Blog
                p Follow our updates
            li
              a(href="#") Contact
                p Ways to reach us

      .slider
        .black-container
          .slide-container Slider with jQuery right here
    
        h1.main-image Lorem ipsum dolor sit amet, consectetur adipisicing elit
      hr.upper-hr
      
      section.services
        aside.cont-1
          h2 Perfect Logic
          p All you want your website to do.
          .image
            img(src="./img/img1.jpg")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          button.btn-grey Learn More
        
        aside.cont-2
          h2 Complete Solution
          p A tool anything and everything you can think.
          .image
            img(src="./img/img2.jpg")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          button.btn-grey Learn More
            
        aside.cont-3
          h2 Uber Culture
          p Fresh modern and ready for future.
          .image
            img(src="./img/img3.jpg")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          button.btn-grey Learn More
      
      hr.middle-hr
          
      .features
        section.social
          h3 Social Connection
            hr.lower-hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntunt
          .social-btn
            .rss
              rss(src="#")
            .facebook
              facebook(src="#")
            #linkedin
              linkedin(src="#")
            #youtube
              youtube(src="#")
            #tumbler
              tumbler(src="#")
          .newsletter
            h3 Newsletter
              hr
            p Lorem ipsum dolor sit amet
              form
                div
                  input(type="text", placeholder="E-mail:")
                  button.btn-blue Subscribe
                  
                  
        section.contact
          h3 Contact
            hr
          form
            div
              input(type="text", placeholder="Name:")
              input(type="text", placeholder="E-mail:")
              textarea(type="text", placeholder="Message:")
              button.btn-blue Send It
                
        section.news-updates
          h3 News Update
            hr
          .articles
            .article
              img(src="./img/first.svg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            hr
            .article
              img(src="./img/second.svg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            hr
            .article
              img(src="./img/third.svg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            hr.last
          button.btn-blue Visit our Blog
      
      .fill  
      footer.footer
        .left
          p Site Powered by Wordpress. Design and Developed by VIVROCKS.
        .right
          p Copyright 2016. Devpaps. All Rights Reserved.
              
        
